<div class="container container-modal-finish">
    <div class="body-modal-finish">
        <div class="row">
            <div class="col text-center">
                <h4 class="text-center">¿Seguro que deseas terminar el territorio?</h4>
                <div class="row m-3 p-3">
                    <div class="col-12 col-sm-6 my-2"><button (click)="hideModal()" class="btn btn-danger">Cancelar</button></div>
                    <div class="col-12 col-sm-6 my-2"><button (click)="finish(idPublisher, idTerritory, publisher, territory, formattedDate )" class="btn btn-dark">Aceptar</button></div>
                </div>
            </div>
        </div>
    </div>
</div>
