<div class="row">
    <div class="col-12 col-md-6">
        <div [routerLink]="['/admin/publishers']" class="card card-main-info border-none my-2 p-1">
            <div class="card-body">
                <h3 class="card-text">136</h3>
                <h5 class="card-title title-main-info">Publicadores</h5>
                <a href="#" class="card-link">Ver más</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div [routerLink]="['/admin/territories']" class="card card-main-info border-none my-2 p-1">
            <div class="card-body">
                <h3 class="card-text">67</h3>
                <h5 class="card-title title-main-info">Territorios asignados</h5>
                <a href="#" class="card-link">Ver más</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div [routerLink]="['/admin/territories']" class="card card-main-info border-none my-2 p-1">
            <div class="card-body">
                <h3 class="card-text">40</h3>
                <h5 class="card-title title-main-info">Territorios por asignar</h5>
                <a href="#" class="card-link">Ver más</a>
            </div>
        </div>
    </div>
    <div [routerLink]="['/admin/territories']" class="col-12 col-md-6">
        <div class="card card-main-info border-none my-2 p-1">
            <div class="card-body">
                <h3 class="card-text">94</h3>
                <h5 class="card-title title-main-info">Territorios terminados</h5>
                <a href="#" class="card-link">Ver más</a>
            </div>
        </div>
    </div>
</div>