<div class="header bg-white px-3">
    <div class="row align-items-center">
        <div class="main-header col-6 col-md-6 p-3">
            <div class="input-icons">
                <form [formGroup]="searchForm">
                    <input (keyup)="getList()" type="text" formControlName="search" placeholder="Busca aquí el publicador o territorio" class="form-control w-100 w-md-75">
                </form>
                <div *ngIf="displayList === true" class="list bg-white position-absolute w-50 zindex-fixed">
                    <div *ngIf="territories !== undefined" class="row">
                        <div class="col-12">
                            <p *ngIf="territories.length == 0 && publishers.length == 0" class="m-0 p-3">No se encontraron resultados</p>
                            <div *ngIf="territories !== undefined" class="territories">
                                <p (click)="selectItem()" [routerLink]="['/admin/territories/detail/' + territory.id]" *ngFor="let territory of territories" class="m-0 p-3">Territorio {{ territory.number }}</p>
                            </div>
                            <div *ngIf="publishers !== undefined" class="publishers">
                                <p (click)="selectItem()" [routerLink]="['/admin/publishers/detail/' + publisher.id]" *ngFor="let publisher of publishers" class="m-0 p-3">{{ publisher.firstname + ' ' + publisher.lastname }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-none d-md-block col-md-3"></div>

        <div class="col-6 col-md-3">
            <p class="p-0 m-0">Hola <strong>Sócrates</strong></p>
            <p class="m-0"><small class="p-0 m-0">socratescrespo@gmail.com</small></p>
        </div>
    </div>
</div>
