<div class="container">
    <div class="row d-flex align-items-center justify-content-center vh-100">
        <div class="col-12 col-md-6 text-center">
            <div class="form p-5">
                <h1 class="text-center my-3">¡Bienvenido a Ciudad Lineal!</h1>
                <form class="form-control p-3" (ngSubmit)="onLogin( username, password )">
                    <input class="form-control my-3" id="username" [(ngModel)]="username" type="text" name="user" placeholder="Usuario">
                    <input class="form-control my-3" type="text" id="password" [(ngModel)]="password" name="password" placeholder="Contraseña">
                    <button class="form-control btn btn-dark">Ingresar</button>
                    <hr>
                    <div *ngIf="loginError" class="alert alert-danger" role="alert">
                        Los datos son incorrectos
                      </div>
                    <p>Si no tienes cuenta <a href="#">regístrate</a></p>
                </form>
            </div>
        </div>
    </div> 
</div>
