<div *ngIf="territory! !== undefined" class="container p-3">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Asignar territorio {{ territory.number }}</h1>
            <form [formGroup]="assignForm" (ngSubmit)="assignTerritory( territory, publisherSelected )" class="form-control w-50 m-auto p-3">
                <div class="py-2">
                    <label for="publisher" class="p-1">Publicador</label>
                    <input #publiSelector (keyup)="showList()" type="text" name="publisher" formControlName="publisher" placeholder="Buscar..." class="form-control">
                    <small class="text-danger" *ngIf="assignForm.get('publisher')?.touched && (assignForm.get('publisher')?.invalid || !publisherSelected) && !list">Debes seleccionar un publicador</small>
                    <div *ngIf="list === true" id="publisher-list" class= "border position-absolute bg-white w-25">
                        <ul class="m-0 p-0">
                            <li *ngIf="resultPublishers.length == 0" class="p-2">
                                <p>No se encontraron publicadores</p>
                            </li>
                            <li (click)="selectPublisher( publisher )" *ngFor="let publisher of resultPublishers" class="p-2">
                                <p class="m-0">{{ publisher.firstname + ' ' + publisher.lastname }}</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="py-2">
                    <label for="description">Detalle (opcional)</label>
                    <input type="text" name="description" formControlName="description" class="form-control">
                </div>
                <div *ngIf="!success" class="py-2">
                    <button type="submit" class="btn btn-dark">Asignar</button>
                </div>
                <div *ngIf="success" class="py-2">
                    <button [routerLink]="['/admin/territories/detail/' + territory.id]" type="submit" class="btn btn-dark">Ver territorio</button>
                </div>
                <div *ngIf="success" class="alert alert-success" role="alert">
                    ¡Territorio asignado!
                </div>
                <div *ngIf="error" class="alert alert-danger" role="alert">
                    No se ha podido asignar el territorio
                </div>
            </form>
        </div>
    </div>
</div>