<div class="row p-3">
    <div class="col-12">
        <div class="list-title p-3 my-3">
            <h2 class="text-center">Lista de Territorios</h2>
        </div>
        <div class="table-responsive">
            <table class="table list-table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Número</th>
                        <th scope="col">Mapa</th>
                        <th scope="col">Detalle</th>
                        <th scope="col">Publicador</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>-</td>
                        <td>Difícil acceso</td>
                        <td>David Adan</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>-</td>
                        <td>Residencial</td>
                        <td>Sócrates Crespo</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>-</td>
                        <td>Comercial</td>
                        <td>Sin Asignar</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>