<div class="row p-3">
    <div class="col-12">
        <div class="list-title p-3 my-3">
            <h2 class="text-center">Lista de Territorios</h2>
        </div>
        <div class="row my-3 p-3">
            <div class="col-6 col-md-3 text-center">
                <button class="btn btn-dark">Todos</button>
            </div>
            <div class="col-6 col-md-3 text-center">
                <button class="btn btn-dark">Asignados</button>
            </div>
            <div class="col-6 col-md-3 text-center">
                <button class="btn btn-dark">Por Asignar</button>
            </div>
            <div class="col-6 col-md-3 text-center">
                <button class="btn btn-dark">Terminados</button>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table list-table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Número</th>
                        <th scope="col">Mapa</th>
                        <th scope="col">Detalle</th>
                        <th scope="col">Publicador</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let territory of territories; index as i">
                        <th [routerLink]="['/admin/territories/detail/' + territory.number]" scope="row" *ngIf="i < displayCount">{{ territory.number }}</th>
                        <td [routerLink]="['/admin/territories/detail/' + territory.number]" class="td-img" *ngIf="i < displayCount"><img class="w-25" src="{{ territory.img }}" alt="{{ 'Territorio ' + territory.number }}"></td>
                        <td [routerLink]="['/admin/territories/detail/' + territory.number]" *ngIf="i < displayCount">{{ territory.detail }}</td>
                        <td [routerLink]="['/admin/territories/detail/' + territory.number]" *ngIf="i < displayCount">{{ territory.publisher }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="my-3 text-center" *ngIf="territories.length > 9">
            <button class="btn btn-dark" (click)="viewMore()" >Ver más</button>
        </div>
    </div>
</div>