<section class="container">
    <div class="row">
        <div class="col-12 col-md-2"></div>
        <div class="col-12 col-md-8">
            <h1 class="text-center my-3">Historial de movimientos</h1>
            <div class="filters my-3 p-3">
                <form class="w-100 d-flex align-items-center justify-content-center" [formGroup]="filterForm">
                    <div class="inputs row">
                        <div class="col-8">
                            <label for="month">Mes</label>
                            <select class="form-control form-control-sm" formControlName="month" id="month">
                                <option value="01" selected>Enero</option>
                                <option value="02">Febrero</option>
                                <option value="03">Marzo</option>
                                <option value="04">Abril</option>
                                <option value="05">Mayo</option>
                                <option value="06">Junio</option>
                                <option value="07">Julio</option>
                                <option value="08">Agosto</option>
                                <option value="09">Septiembre</option>
                                <option value="10">Octubre</option>
                                <option value="11">Noviembre</option>
                                <option value="12">Diciembre</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <label for="year">Año</label>
                            <input class="form-control form-control-sm" type="text" formControlName="year">
                        </div>
                        <div class="button text-center col-12 my-3">
                            <button (click)="filterHistory()" class="btn btn-custom w-100">Filtrar</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card card-simple-info border-none m-2 p-3">
                <div *ngIf="history.length === 0" class="card-body m-2 border">
                    No hay movimientos
                </div>
                <div *ngFor="let movement of history" class="card-body m-2 border">
                    <div class="card-inner">
                        <h4 class="card-title">{{ movement.subject }}</h4>
                    </div>
    
                    <div class="card-inner py-3">
                        <div class="row py-1">
                            <div class="col-6">
                                <p><strong>Publicador: </strong> {{ movement.publisher }} </p>
                                <p *ngIf="movement.subject == 'Asignado'" ><strong>Fecha: </strong> {{ movement.date_init }} </p>
                                <p *ngIf="movement.subject == 'Terminado'"><strong>Fecha de inicio: </strong> {{ movement.date_init }} </p>
                                <p *ngIf="movement.subject == 'Terminado'"><strong>Fecha de finalización: </strong> {{ movement.date_end }} </p>
                            </div>
                            <div class="col-6">
                                <p><strong>Territorio: </strong>{{ movement.territory }}</p>
                                <p><strong>Descripción: </strong>{{ movement.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-2"></div>
    </div>
</section>
