<div *ngIf="publisher !== undefined" class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card card-simple-info border-none my-2 p-1">
                <div class="card-body">
                    <h5 class="card-title">{{ publisher.firstname + ' ' + publisher.lastname }}</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">{{ publisher.email }}</h6>
                    <hr>
                    <div class="row py-3">
                        <div class="col-12 col-md-7">
                            <p><strong>Teléfono: </strong>{{ publisher.phone }}</p>
                            <p><strong>Dirección: </strong>{{ publisher.address }}</p>
                            <p><strong>Tipo: </strong> {{ publisher.publisherType | titlecase }}</p>
                            <p><strong>Detalle: </strong> {{ publisher.description ? publisher.description : '-' }} </p>
                        </div>
                        <div *ngIf="publisher!.history.length > 0" class="col-12 col-md-5 text-center">
                            <h5 class="text-center">Territorios asignados</h5>
                            <p *ngFor="let territory of publisher.territories" class="text-center"><strong>{{ territory }}</strong></p>

                            <button (click)="hideModal( 'd-block' )" class="btn btn-dark mx-1">Terminar</button>
                        </div>
                    </div>
                    <hr>
                </div>

                <div class="card card-simple-info border-none my-1 p-1">
                    <div class="card-body">
                        <h5 class="card-title">Historial</h5>
                        <div class="row py-1">
                            <div *ngFor="let movement of publisher.history" class="history-log col-12 my-1 p-3">
                                <p><strong>Teritorio: </strong>{{ movement.territoryNumber }}</p>
                                <p><strong>Comenzado: </strong>{{ movement.date_init }} | <strong>Terminado: </strong> {{ movement.date_end }} </p>
                            </div>
                            <div *ngIf="publisher!.history.length === 0" class="py-3">
                                <p>El publicador no tiene historial</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="card card-simple-info border-none my-2 p-1">
                <div class="card-body">
                        <h5 class="card-title">Territorios asignados</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">Mapas de los territorios</h6>
                        <div *ngFor="let territory of publisher.territories" class="asigned">
                            <div class="working-maps text-center">
                                <hr>
                                <p>Territorio {{ territory }}</p>
                                <figure class="map">
                                    <img class="w-75" src="{{ imgSlug }}{{ territory }}.png" alt="territorio {{ territory }}">
                                </figure>
                                <hr>
                            </div>
                        </div>
                        <div class="py-3">
                            <p *ngIf="publisher?.territories?.length == 0">El publicador no tiene territorios asignados</p>
                            <button *ngIf="publisher?.territories?.length == 0" class="btn btn-dark my-1">Asignar</button>
                            <button *ngIf="publisher?.territories?.length !== 0" class="btn btn-dark my-1" (click)="hideModal('d-block')">Terminar</button>
                        </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6">

        </div>
        <div class="col-12 col-md-6">

        </div>
    </div>
</div>

<div [class]="finishModalClass" class="finish-territory-modal">
    <app-finish-territory (childEvent)="hideModal($event)"></app-finish-territory>
</div>